{% extends "base_generic.html" %}
<head>
  {% block title %}<title>Albums</title>{% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}?{% now 'U' %}">
</head>
{% block content %}
  <section>
    <h2 class="album_small"><span>Albums</span></h2>
    {% if album_list %}
    <ul class="container">
      {% for album in album_list %}
        <li class="item">
          <ul>
            <li><img alt="{{ album.name }} ({{ album.release_date.year }}) album cover" src="{{ MEDIA_ROOT }}{{ album.cover.url }}" class="album_small"/></li>
            <li><strong><a href="{{ album.get_absolute_url }}">{{ album.name }}</a></strong></li>
            <dl>
              <div><dt>Artist:&nbsp;</dt><dd>{{ album.artist }}</dd></div>
              <div><dt>Release Date:&nbsp;</dt><dd>{{ album.release_date }}</dd></div>
            </dl>
          </ul>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p><span>There are no albums.</span></p>
    {% endif %}
  </section>
{% endblock %}